.mobile-nav {
  background-color: #444444;
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  max-width: 100%;
  padding: 18px;

  .ant-col {
    flex: 1;
    text-align: center;
  }

  .nav-items {
    a, span {
      color: #ffffff;
    }

    .ant-badge {
      .ant-badge-count {
        top: -2px;
        right: -9px;

        span {
          color: rgba(0, 0, 0, 0.65);
        }
      }
    }
  }
}
